
h1, h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h3{
  font-size: 1.8em;
  text-align: center;
  text-decoration:underline;
}

.html {
  color: #222;
  font-size: 1em;
  line-height: 1.4em;
  word-spacing: -5px;
  text-align: center;
}
summary{
  text-align: center;
  font-size: 1.2em;
  font-weight: 800;
  color: #009fc7;
}
.html li{
  text-align: left;
}
#proyecto_html{
  font-size: 1.2em;
  font-weight: 800;
  color: #009fc7;
  text-decoration: none;
  display: inline-block; /* Mantiene el bloque en línea */
}
.css li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(24, 223, 24);
}
.css a{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(24, 223, 24);
  text-decoration: none;
}
.css a:hover{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(108, 6, 204);
}

body{
  font-family: 'Courier New', Courier, monospace;
}
::selection {
  background: #7afbff;
  text-shadow: none;
}

footer a{
  text-decoration: none;
}

footer a:hover{
  color: purple;
  font-weight: bold;
}