/* fonts */

@font-face {
  font-family: 'Dogica';
  src: url('../fonts/Dogica.eot');
  src: url('../fonts/Dogica.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Dogica.woff2') format('woff2'),
      url('../fonts/Dogica.woff') format('woff'),
      url('../fonts/Dogica.ttf') format('truetype'),
      url('../fonts/Dogica.svg#Dogica') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dogica Pixel';
  src: url('../fonts/Dogica_Pixel_Bold.eot');
  src: url('../fonts/Dogica_Pixel_Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Dogica_Pixel_Bold.woff2') format('woff2'),
      url('../fonts/Dogica_Pixel_Bold.woff') format('woff'),
      url('../fonts/Dogica_Pixel_Bold.ttf') format('truetype'),
      url('../fonts/Dogica_Pixel_Bold.svg#Dogica_Pixel_Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* CSS boilerplate */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}


@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
a[href^="#"]::after,
a[href^="javascript:"]::after {
  content: "";
}

pre {
  white-space: pre-wrap !important;
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

tr,
img {
  page-break-inside: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}

/* My CSS */

:root {
  --azul-profundo: #1a1c31;
  --turquesa: #78efff;
  --morado-medio: #b83fec;
  --verde-azulado: #004D40;
  --fucsia-suave: #ff4684;
  --blanco: #FFFFFF;
  --gris-claro: #E0E0E0;
  /* paleta 1.0 */
  --azul-fondo: #1A1C30;
  --azul-pal: #53A3D3;
  --purpura-comp: #7B5AD6;
  --verde-1: #32CD32;
  --verde_pal: #48CC8B;
}

body {
  background-color: var(--azul-fondo);
  color: var(--blanco);
  font-family: 'Dogica';
  text-align: center;
}

h1, h2, h3 {
  color: var(--azul-pal);
}
h1{
  font-size: 44px;
  font-family: 'Dogica Pixel';
  color: var(--verde_pal);
}

h2{
  font-family: 'Dogica Pixel';
  color: var(--azul-pal);
}
h3{
  color: var(--blanco);
}


a {
  color: var(--purpura-comp);
  text-decoration: none;
}

a:hover {
  color: var(--morado-medio);
}

.btn {
  background: var(--turquesa);
  color: var(--blanco);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn:hover {
  background: linear-gradient(90deg, var(--turquesa), var(--morado-medio));
}

.section {
  background-color: var(--gris-claro);
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
}

nav.html{
  position: relative;
  background-image: url(../img/html5.webp);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  max-width: 900px;
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

ul.menu{
  margin: 0;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  opacity: 1;
}

ul.menu li a{
  display: block;
  list-style: none;
  display: inline-block;
  border-radius: 25px;
  padding: 15px;
  position: relative;
  align-content: center;
  margin-left: 20px;
  margin-right: auto;
  border: 6px solid #7B5AD6;
  background-color: white;
  min-height: 90px;
  min-width: 150px;
  max-width: 180px;
  font-size: 0.8em;
}

ul.menu li a strong{
  font-family: 'Dogica Pixel', Arial, Helvetica, sans-serif;
  font-size: 1 em;
}


.html ul li a{
  color: #ed5e26;
  border: 6px solid #e54c25;
  width: 150px;
  height: 90px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  font-family: 'Dogica', Arial, Helvetica, sans-serif;
  font-size: 12px;
}


.html ul a:hover{
  color: white;
  background-color: #ed5e26;
}

a + a{
  margin-left: 10px;
}

.html strong{
  font-variant-caps: small-caps;
  font-size: 20px;
  font-family: 'Dogica Pixel', Arial, Helvetica, sans-serif;
}

#proyecto_html{
  font-size: 1.5em;
}


/* CSS */
nav.css{
  position: relative;
  padding: 10px 0 20px 0;
  background-image: url(../img/css.webp);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  max-width: 900px;
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto;
}
.css ul li a{
  display: block;
  list-style: none;
  color: #13a1df;
  border: 6px solid #006fb9;
  display: inline-block;
  width: 150px;
  height: 90px;
  border-radius: 25px;
  position: relative;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  font-family: 'Dogica', Arial, Helvetica, sans-serif;
}


.css ul a:hover{
  color: white;
  background-color: #13a1df;
}
.css strong{
  font-variant-caps: small-caps;
  font-size: 20px;
  font-family: 'Dogica Pixel', Arial, Helvetica, sans-serif;
}


.menu li{
  list-style: none;
  color: #b93498;
  display: inline-block;
  width: auto;
  min-height: 90px;
  border-radius: 25px;
  position: relative;
  align-content: center;
  text-align: center;
  vertical-align: top;
  margin-top: 10px;
  opacity: 1;
  font-weight: bold;
}



/* CSS para móviles */
@media (max-width: 520px) {
  ul li a{
      padding: 10px;
      max-width: 90px;
      font-size: 0.6rem;
      margin: 5px;
  }
  ul li strong{
    font-size: 0.7rem;
  }
  ul{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  li{
    margin: 0;
  }
}



.back{
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: #cccccc;
  padding: 5px;
  opacity: 0.4;
  font-size: 25px;
}

.back a{
  text-decoration: none;
}
.back:hover{
  opacity: 1;
}