/*• El encabezado de nivel 1 debe aparecer centrado y en mayúsculas.*/
h1{
    text-align: center;
    text-transform: uppercase;
}
/*• El encabezado de nivel 2 debe aparecer en mayúsculas. */
h2{
    text-transform: uppercase;
}
/*• El contenido etiquetado como <strong> debe aparecer subrayado.*/
strong{
    text-decoration: underline;
}
.back{
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: #cccccc;
    padding: 5px;
    opacity: 0.4;
    font-size: 25px;
}

.back a{
    text-decoration: none;
}
.back:hover{
    opacity: 1;
}