/*Selecciona los elementos div que sean hijos de otro div*/
div > div{
    color:fuchsia;
}
/*Selecciona los hijos de los elementos p*/
p > *{
    color:fuchsia;
}
/*Selecciona los elementos p que sean hijos de article*/
article > p{
    color:fuchsia;
}
/*Selecciona los títulos h1 y los h3*/
h1, h3{
    color:fuchsia;
}
/*Selecciona los ol que estén dentro de body*/
body ol{
    color:fuchsia;
}
/*Cualquier elemento que tenga la clase "amarillo"*/
.amarillo{
    color:fuchsia;
}
/*Los elementos <ul> que sean hijos de <body>*/
body > ul{
    color:fuchsia;
}
/*Los elementos <a> que sean hijos de <p>*/
p > a{
    color:fuchsia;
}
/*Selecciona el elemento con id "platano"*/
#platano{
    color:fuchsia;
}
/*Todos los elementos <div> que sean hermanos de un elemento <h2>*/
h2 ~ div{
    color:fuchsia;
}
/*Todos los elementos <p> con clase=paisa, descendientes de un elemento <ul>*/
ul p.paisa{
    color:fuchsia;
}
/*Selecciona los <h1>,<h2>,<h3> que tengan la clase "headertitle", hijos del header*/
header > h1.headertitle, h2.headertitle, h3.headertitle{
    color:fuchsia;
}