header{
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0px 5px;
    background-color: #73a345;
    color: white;
    font-size: 12px;
    padding: 4px;
}
nav ul a{
    color: white;
    font-size: 11px;
}
h1{
    margin: 0;
    color: #565357;
    font-size: 30px;
}

.title {
    background-color: #b4ff6b;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items:last baseline;
    padding: 0;
    height: auto;
}

nav ul li{
    list-style: none;
}

div.img img{
    max-width: 100%;
}

h2{
    text-transform: uppercase;
    margin: 0px;
    font-size: 20px;
}

/* main Casa Rurales */

.estancias div:first-of-type{
    margin-top: 30px;
    border: 3px solid #b49a3f;
    border-radius: 25px 0 20px 0;
    background-color: #fdfcb7;
    padding: 15px;
    font-size: 11px;
}

.estancias div:nth-child(2){
    margin-top: 30px;
    border: 3px solid #72a344;
    border-radius: 25px 0 20px 0;
    background-color: #d3ffac;
    padding: 15px;
    font-size: 11px;
}

.estancias div:nth-child(3){
    margin-top: 30px;
    border: 3px solid #0c336d;
    border-radius: 25px 0 20px 0;
    background-color: #b8e3ff;
    padding: 15px;
    font-size: 11px;
}

section.estancias div img{
    width: 35px;
    margin-bottom: 15px;
}


/* Opiniones */
.opinion{
    border-width: 5px 0 5px 0;
    border-style: solid;
    margin-top: 50px;
    background-color: #cccccc;
    border-color: #555556;
    font-size: 12px;
    padding: 20px;
}

.opinion p:first-of-type{
    text-transform: uppercase;
    font-style: italic;
}


.client img:first-of-type{
    width: 50px;
    margin: 0;
}
.client img{
    width: 20px;
    margin: 0;
}

.back{
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: #cccccc;
    padding: 5px;
    opacity: 0.4;
    font-size: 25px;
}

.back a{
    text-decoration: none;
}
.back:hover{
    opacity: 1;
}
footer{
    margin-top: 60px;
}