@use '../abstracts';

/**
 * Basic typography style for copy text
 */
body {
  color: abstracts.$text-color;
  font: normal 125% / 1.4 abstracts.$text-font-stack;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h1{
  font-weight: bold;
  font-size: 64px;
  color: white;
}

h3{
  font-weight: bold;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 8px;
}

div.hero p{
  font-size: 24px;
  color: white;
}

header{
  & h2.logo{
    font-size: 36px;
    font-weight: 600;
    color: white;
    & span{
      color: cyan;
    }
  }
}

nav ul li a{
  font-size: 18px;
  color: white;
}
